<!doctype html>
<html>
  <head>
    <title>Discovery - A Twitch discovery tool</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- load MUI -->
    <!-- <link href="//cdn.muicss.com/mui-0.1.14/css/mui.min.css" rel="stylesheet" type="text/css" /> -->
    <script src="//cdn.muicss.com/mui-0.1.14/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
   <!--  <link rel="stylesheet" href="http://twitchdiscovery.com/css/app.css"> -->
    <style type="text/css">

    .mui-panel {
      background-color: #111;
    }

    body {
      /*font-family: Roboto, Helvetica, Calibri, Arial, sans;*/
    }

    .fa-bars {
      font-size: 32px;
      margin: 7px;
    }

    #footer {
      margin-bottom: 300px;
    }

    #preview_video_meta {
      float: left;
      display: block;
    }

    #preview_video_meta .views, #preview_video_meta .length  {
      font-size: 18px;
      padding-right: 10px;
    }

    .stream-block .stream_meta, .channel-block .channel-meta {
      height: 6.5em;
    }

    .stream-block, .channel-block {
      margin-bottom: 10px;
      /*height: 300px;*/
    }

    .stream-block img, .channel-block img  {
      width: 100%;
      /*max-height: 30vh;*/
    }

    .stream-block .stream-image, .channel-block .channel-image {

      clear: both;
      width: 100%;
      display: block;
    }

    .inner {
      margin-bottom: 20px;
    }

    @media all and (max-width: 400px) {
      .stream-block img {
        width: calc(100vw - 75px);
      }
    }

#preview {
  /*height: calc(21vw/21vh*150);*/
  height: 30vh;
  min-height: 250px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
}

.preview_off {
 display: none;
}

#preview_video {
  float: left;
  width: 33.33%;
  min-width: 33.33%;
  height: 100%;
}
#preview_chat {
  float: left;
  width: 33.33%;
  height: 100%;
  display: block;
}

#preview_chat iframe, #preview_video iframe, #preview_chat img, #preview_video img  {
  width: 100%;
}

#preview_chat iframe, #preview_chat img, #preview_video iframe {
  height: 100%;
}

#preview_meta {
  float: left;
  /*width: 33.33vw;*/
  height: 100%;
  width: 0;
  padding: 10px;
}

#preview_video iframe {
  width: 100%;
  height: 100%;
}
    @media all and (max-width: 550px) {
      #preview {
        height: calc(500/10vh*1.6)px;
      }

      #preview_video {
        width: 100vw;
      }

      #preview_video iframe {
        width: 100%;
      }

      #preview_meta {
        display: none;
      }
      #preview_chat {
        display: none;
      }
    }

    /*50/50/0*/
    @media all and (min-width: 550px) and (max-width: 650px) {
      #preview_video {
        width: 50%;
        display: block;
      }

      #preview_chat {
        width: 50%;
        display: block;
      }

      #preview_meta {
        width: 0;
        display: none;
      }
    }

    /*33/66/0*/
    @media all and (min-width: 650px) and (max-width: 830px) {
      #preview_video {
        width: 33.33%;
        display: block;
      }

      #preview_chat {
        width: 66.66%;
        display: block;
      }

      #preview_meta {
        width: 0;
        display: none;
      }
    }

    /*33/33/33*/
    @media all and (min-width: 830px) and (max-width: 950px) {
      #preview_video {
        width: 33.33%;
        display: block;
      }

      #preview_chat {
        width: 33.33%;
        display: block;
      }

      #preview_meta {
        width: 33.33%;
        display: block;
      }
    }

    /*33/33/33*/
    @media all and (min-width: 950px) and (max-width: 1050px) {
      #preview_video {
        width: 33.33%;
        display: block;
      }

      #preview_chat {
        width: 33.33%;
        display: block;
      }

      #preview_meta {
        width: 33%;
        display: block;
      }
    }
    </style>
    <script type="text/javascript">


function playerContainer(channel) {
  var container = document.createElement('iframe')
  container.setAttribute("id", "twitch_player")
  container.setAttribute("type", "text/html")
  container.setAttribute("src", "http://www.twitch.tv/" + channel + "/embed")
  container.setAttribute("frameborder", "0")

  return container;
}

function chatContainer(channel) {
  var container = document.createElement('iframe')
  container.setAttribute("id", "chat_embed")
  container.setAttribute("type", "text/html")
  container.setAttribute("src", "http://www.twitch.tv/" + channel + "/chat")
  container.setAttribute("frameborder", "0")
  container.setAttribute("scrolling", "no")

  return container;
}

function twitchPlayer(channel) {
    container = playerContainer(channel)

    var player = document.getElementById("preview_video")

    player.appendChild(container);
}

function twitchChat(channel) {
    container = chatContainer(channel)

    var chat = document.getElementById("preview_chat")

    chat.appendChild(container);
}

function clearPreview() {
  document.getElementById("preview_chat").innerHTML = ""
  video = document.getElementById("preview_video")

  video.innerHTML = ""
  video.parentNode.classList.add("preview_off")
}

window.onload = function () {
  $("a.preview").click(function(event) {
      event.preventDefault()

      channel = event.currentTarget.getAttribute("data-channel")

      console.log(event)
      console.log(channel)

      clearPreview()

      twitchPlayer(channel)
      twitchChat(channel)

      document.getElementById("preview_video").parentNode.classList.remove("preview_off")

      // .getAttribute("data-course-id"))

      // twitchPlayer()
      // $(this).hide("slow");
  });
}
    </script>
  </head>
  <body>
    <div class="app-bar mui-appbar">
      <div class="mui-container">
        <!-- <i class="fa fa-bars"></i> -->
       <a href="/"><img src="http://elirc.rockerboo.net/assets/images/discovery.svg" style="width: 225px" /></a>
      </div>
    </div>
        <div class="mui-container" style="margin-top: 10px; margin-bottom: 10px;">
          <button class="mui-btn mui-btn-primary" onclick="window.location = '/streams';">Streams</button>
          <button class="mui-btn mui-btn-primary" onclick="window.location = '/search/streams';">Search</button>
          <button class="mui-btn mui-btn-primary" onclick="window.location = '/channels';">Channels</button>
          <button class="mui-btn mui-btn-primary" onclick="window.location = '/discover/videos/top';">Videos</button>
          <button class="mui-btn mui-btn-primary" onclick="window.location = '/about';">About</button>
      </div>
    <div class="inner">
      <%= @inner %>
    </div>
    <div id="footer">
      <div class="mui-container">
        Built on <a href="http://elixir-lang.org/">Elixir</a> &amp; <a href="http://www.phoenixframework.org/">Phoenix</a>
      </div>
    </div>
    <div id="preview" class="preview_off">
      <div></div>
      <div style="clear:both;"><span></span></div>
      <div id="preview_video">
      </div>
      <div id="preview_chat">
      </div>
      <div id="preview_meta">
        <button  class="mui-btn mui-btn-default" onclick="clearPreview();">Close</button>
        <p>
          Meta Information, follow links, schedule, coming soon...
        </p>
      </div>
    </div>
  </body>
</html>
