<!doctype html>
<html>
  <head>
    <title>Discovery - A tool to discover new streams on Twitch</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>" />
    <style type="text/css">
    body {
      background-color: #111;
      background-image: url("<%= static_path(@conn, "/images/bg.png") %>");
    }

    .stream-image {
      background-image: url("<%= static_path(@conn, "/images/default-stream-image.svg") %>");
      background-clip: content-box;
    }
    </style>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script type="text/javascript">
    function imgError(image) {
        image.onerror = "";
        image.src = "<%= static_path(@conn, "/images/default-stream-image.png") %>";
        return true;
    }
    </script>
  </head>
  <body>
    <header>
      <div class="mui-container">
        <!-- <i class="fa fa-bars"></i> -->
       <a href="/"><img src="<%= static_path(@conn, "/images/discovery.svg") %>" style="width: 225px" alt="Discovery" /></a>
      </div>
    </header>
        <div class="mui-container" style="margin-top: 10px; margin-bottom: 10px;">
          <button class="mui-btn mui-btn-<%= "streams" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/streams';"><a href="/streams" style="color: #FFF">Streams</a></button>
<!--           <button class="mui-btn mui-btn-<%= "channels" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/channels';">Channels</button> -->
<!--           <button class="mui-btn mui-btn-<%= "broadcasts" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/broadcasts';">Broadcasts</button> -->
 <!--          <button class="mui-btn mui-btn-<%= "discover/videos/top" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/discover/videos/top';">Videos</button> -->
          <button class="mui-btn mui-btn-<%= "search" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/search';">Search</button>
      </div>
    <div class="inner">
       <%= render @view_module, @view_template, assigns %>
    </div>
    <div class="mui-container">
      <footer>
        <div id="footer_blocks">
          <div class="block">
            <h3><a href="/about">About</a></h3>
            Built on
            <ul>
              <li><a href="http://elixir-lang.org/">Elixir</a></li>
              <li><a href="http://www.phoenixframework.org/">Phoenix</a></li>
            </ul>
          </div>
          <div class="block">
            <h3>Help</h3>
            <ul>
              <li><a href="/terms">Terms</a></li>
              <li><a href="/privacy">Privacy</a></li>
            </ul>
          </div>
          <div class="block">
            <h3>Credits</h3>
            <strong><a href="http://lodyas.com/carlos-aguilar/">Carlos Aguilar</a></strong> <br>
            Background <em>CC BY-SA 3.0</em>
          </div>
          <div>
            <h3>Share</h3>
            <h4>Let your others know about us!</h4>
            <a href="http://twitter.com/home?status=Find%20new%20Twitch%20streams%20on%20Discovery%20http://discovery.rockerboo.net/%20%23discovery"><img src="/images/twitter.svg"></a> <a href="https://www.reddit.com/submit?url=http://discovery.rockerboo.net"><img src="/images/reddit.svg"></a>
          </div>
        </div>
        <div id="disclaimer">
          Twitch is a trademark or registered trademark of Twitch Interactive, Inc. in the U.S. and/or other countries. "Discovery" is not operated by, sponsored by, or affiliated with Twitch Interactive, Inc. in any way.
        </div>
      </footer>
    </div>


    <div id="preview" class="preview_off">
      <div id="preview_bar">
        <h2 id="preview_title"></h2>
        <div id="preview_close"><button class="mui-btn mui-btn-default" onclick="Player.clearPreview();">Close</button></div>
      </div>
      <div style="clear:both;"><span></span></div>
      <div id="preview_media">
        <div id="preview_video"></div>
        <div id="preview_chat"></div>
        <div id="preview_meta">
          <style type="text/css" id="preview_meta_background_style"></style>
          <div id="preview_game_background">
            <div id="preview_meta_button_container">
              <div class="preview_logged_in">
                <button id="preview_follow_button" class="mui-btn mui-btn-primary" onclick="follow(this);">Follow</button>
              </div>
            </div>
            <div id="preview_channel_meta">
              <img id="preview_twitch_icon" class="twitch_glich" src="<%= static_path(@conn, "/images/twitch.svg") %>">
              <h3>
                <span id="preview_channel_name"></span>
              </h3>
              <h4><span id="preview_game"></span></h4>
              <div id="preview_metrics">
                <span class="preview_metric_block">
                  <span id="preview_viewers"></span> Viewers
                </span>
                <span class="preview_metric_block">
                  <span id="preview_views"></span> Views
                </span>
                <span class="preview_metric_block">
                  <span id="preview_followers"></span> Followers
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
    var PlayerClass = require('web/static/js/player')
    var Player      = new PlayerClass()

    function activatePreview(element) {
      var channel       = element.getAttribute("data-channel")
      var title         = element.getAttribute("data-title")
      var display_name  = element.getAttribute("data-display-name")
      var game          = element.getAttribute("data-game")
      var followers     = element.getAttribute("data-followers")
      var viewers       = element.getAttribute("data-viewers")
      var views         = element.getAttribute("data-views")

      Player.clearPreview()

      Player.twitchPlayer(channel)
      Player.twitchChat(channel)
      Player.twitchMeta({
        channel: channel,
        title: title,
        display_name: display_name,
        game: game,
        viewers: viewers,
        followers: followers,
        views: views
      })

      document.getElementById("preview_video").parentNode.parentNode.classList.remove("preview_off")
    }

    window.onload = function () {
      require('web/static/js/onload')
    }
    </script>
  </body>
</html>
