<!doctype html>
<html>
  <head>
    <title>Discovery - A Twitch discovery tool</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- load MUI -->
    <!-- <link href="//cdn.muicss.com/mui-0.1.14/css/mui.min.css" rel="stylesheet" type="text/css" /> -->
    <script src="//cdn.muicss.com/mui-0.1.14/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>" />
  </head>
  <body>
    <div class="app-bar mui-appbar">
      <div class="mui-container">
        <!-- <i class="fa fa-bars"></i> -->
       <a href="/"><img src="http://elirc.rockerboo.net/assets/images/discovery.svg" style="width: 225px" /></a>
      </div>
    </div>
        <div class="mui-container" style="margin-top: 10px; margin-bottom: 10px;">
          <button class="mui-btn mui-btn-<%= "streams" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/streams';">Streams</button>
          <button class="mui-btn mui-btn-<%= "channels" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/channels';">Channels</button>
<!--           <button class="mui-btn mui-btn-<%= "broadcasts" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/broadcasts';">Broadcasts</button> -->
          <button class="mui-btn mui-btn-<%= "discover/videos/top" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/discover/videos/top';">Videos</button>
          <button class="mui-btn mui-btn-<%= "search" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/search';">Search</button>
          <button class="mui-btn mui-btn-<%= "about" |> is_active_page?(@conn) |> button_toggle_mui %>" onclick="window.location = '/about';">About</button>
          <%= if logged_in?(@conn) == false do %>
          <button class="mui-btn mui-btn-primary" onclick="window.location = '/auth/twitch';"><img src="/images/twitch.svg" style="border: 0; width: 18px; margin-top: -1px;"> Auth</button>
          <% else %>
          <button class="mui-btn mui-btn-primary"><img src="/images/twitch.svg" style="border: 0; width: 18px; margin-top: -1px;"> <%= current_user(@conn) |> Map.fetch!("display_name") %></button>
          <% end %>
      </div>
    <div class="inner">
      <%= @inner %>
    </div>
    <div id="footer">
      <div class="mui-container">
        Built on <a href="http://elixir-lang.org/">Elixir</a> &amp; <a href="http://www.phoenixframework.org/">Phoenix</a>
      </div>
    </div>
    <div id="preview" class="preview_off">
      <div id="preview_bar">
        <h2 id="preview_title"></h2>
        <div id="preview_close"><button class="mui-btn mui-btn-default" onclick="clearPreview();">Close</button></div>
      </div>
      <div style="clear:both;"><span></span></div>
      <div id="preview_media">
        <div id="preview_video"></div>
        <div id="preview_chat"></div>
        <div id="preview_meta">
          <div id="preview_meta_button_container">
            <button id="preview_follow_button" class="mui-btn mui-btn-primary" onclick="follow(this);">Follow</button>
          </div>
          <div id="channel_meta"></div>
        </div>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/functions.js") %>"></script>
 <script src="<%= static_path(@conn, "/js/autocomplete.js") %>"></script>
      <script type="text/javascript">

      window.onload = function () {
        $("a.preview").click(function(event) {
            event.preventDefault()

            channel       = event.currentTarget.getAttribute("data-channel")
            title         = event.currentTarget.getAttribute("data-title")
            display_name  = event.currentTarget.getAttribute("data-display-name")

            console.log(event)
            console.log(channel)

            clearPreview()

            twitchPlayer(channel)
            twitchChat(channel)
            twitchMeta({channel: channel, title: title, display_name: display_name})

            document.getElementById("preview_video").parentNode.parentNode.classList.remove("preview_off")
        });

        $("#search-fps-toggle").click(function (event) {
            $("#search-fps-options").toggleClass("hide-options")
        })

        $("#search-mature-toggle").click(function (event) {
            $("#search-mature-options").toggleClass("hide-options")
        })

        $('#games-search-input').autocomplete({
          serviceUrl: '/games/autocomplete',
          width: 'rekt',
          onSelect: function () { $("#filter_form").submit() }
        });
      }

    </script>
  </body>
</html>
