    <div class="mui-container">
      <div class="mui-panel">
        <h1 id="title">Search</h1>

        <form action="/search/streams">
          <div class="mui-form-group">
            <input type="text" name="q" class="mui-form-control" placeholder="Stream Title" value="" autofocus />
          </div>
        </form>
      </div>
    </div>