      var filter = require('web/static/js/filter')
      var slider = require('web/static/js/slider')

      slider.hoz("viewers", filter_viewers_min, filter_viewers_max, filter_viewers_range);

      slider.hoz("followers", filter_followers_min, filter_followers_max, filter_followers_range);

      slider.hoz("views", filter_views_min, filter_views_max, filter_views_range);