          <div id="stream-blocks">
            <div id="images_404">
              <img src="<%= static_path(@conn, "/images/404-top.svg") %>"><br>
              <img src="<%= static_path(@conn, "/images/404-bottom.svg") %>">
            </div>
          </div>