* {
  font-family: Roboto, "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

.mui-container {
  overflow: hidden;
}

.stream-image:hover .preview,
.broadcast-image:hover .preview {
  opacity: 1;
  visibility: visible;
}

.stream-image,.broadcast-image {
  position: relative;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-bars {
  font-size: 32px;
  margin: 7px;
}

.mui-panel h1:first-of-type {
  margin: 0;
  margin-bottom: .3em;
  font-weight: 100;
  font-style: italic;
  font-size: 36px;
}

.stream-block h4,
.channel-block h4,
.video-block h4,
.broadcast-block h4 {
  font-size: 1.3em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stream-block .stream_meta,
.channel-block .channel-meta,
.video-block .video-meta,
.broadcast-block .broadcast-meta  {
  height: 6.5em;
}

.stream-block, .channel-block, .broadcast-block  {
  margin-bottom: 10px;
  /*height: 300px;*/
}

.stream-block img,
.channel-block img,
.video-block img,
.broadcast-block img  {
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 993px) {
  .stream-block img,
  .channel-block img,
  .video-block img,
  .broadcast-block img {
    height: auto;
  }
}

.stream-block .stream-image,
.channel-block .channel-image,
.video-block .video-image,
.broadcast-block .broadcast-image {
  width: 100%;
  padding-bottom: 56.25%; /* defines aspect ratio */
  position: relative;
  overflow: hidden;
}

.video-image a img {
  margin-top: -9.5%;
}

.inner {
  margin-bottom: 20px;
}

@media all and (max-width: 400px) {
  .stream-block img {
    width: calc(100vw - 75px);
  }
}

#pagination {

}

#pagination_previous {
  float: left;
}

#pagination_next {
  float: right;
}

.mui-dropdown-menu {
  overflow: auto;
  max-height: 90vh;
}

.autocomplete-suggestions {
  border: 1px solid rgba(0, 0, 0, 0.87);
  background: #111;
  cursor: default;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.autocomplete-selected {
  background: rgba(0, 0, 0, 0.87);
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #673AB7;
}
