* {
  font-family: Roboto, "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

.mui-container {
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mui-panel h1:first-of-type {
  margin: 0;
  margin-bottom: .3em;
  font-weight: 100;
  font-style: italic;
  font-size: 36px;
}

// HEADER
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#logo {
  height: 3em;
}


#auth {
  height: 3em;
  float: right;
}

.auth_button_container {
  // padding-top: 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media all and (max-width: 400px) {
  #logo {
    height: 2em;
  }

  #auth {
    height: 2em;
  }
}

@media all and (min-width: 768px) {
  #logo {
    height: 4em;
  }

  #auth {
    height: 4em;
  }
}

.mui-tabs {
  margin-bottom: .3em;
}

.mui-tabs li {
  background: rgba(#170020, .8);
  border-bottom: .1em solid #400058;
}

.mui-tabs li a {
  cursor: pointer;
}

.mui-tabs-justified li:hover {
  background: rgba(#36185e, 0.7);
  transition: background-color .3s ease-in;
}


// PAGINATION
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#pagination {

}

#pagination_previous {
  float: left;
}

#pagination_next {
  float: right;
}

.mui-dropdown-menu {
  overflow: auto;
  max-height: 90vh;
}
