.mui-container {
  overflow: hidden;
}

#games-search {
  float: left;
}

// Hackalis (Blasted Jesus Edition)
.games-search-input {
  width: 0;
  opacity: 0;
  transition: all .4s;
}

#games-search > form > div {
  padding-top: 9px;
}

.games-search-input.games-search-on   {
  width: 250px;
  opacity: 1;
  margin-left: 10px;
}

.stream-image:hover .preview,
.broadcast-image:hover .preview {
  opacity: 1;
  visibility: visible;
}

.stream-image,.broadcast-image {
  position: relative;
}

// .mui-panel {
//   background-color: #111;
// }

body {
  /*font-family: Roboto, Helvetica, Calibri, Arial, sans;*/
}

h1#title {
  margin: 0;
  margin-bottom: .3em;
  font: 100 italic 36px Roboto, Calibri, Helvetica, sans-serif;
}


.fa-bars {
  font-size: 32px;
  margin: 7px;
}

.mui-panel h1:first-of-type {
  margin-top: 0;
}

#footer {
  margin-bottom: 300px;
}

.stream-block h4,
.channel-block h4,
.video-block h4,
.broadcast-block h4 {
  font-size: 1.3em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stream-block .stream_meta,
.channel-block .channel-meta,
.video-block .video-meta,
.broadcast-block .broadcast-meta  {
  height: 6.5em;
}

.stream-block, .channel-block, .broadcast-block  {
  margin-bottom: 10px;
  /*height: 300px;*/
}

.stream-block img,
.channel-block img,
.video-block img,
.broadcast-block img  {
  width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 993px) {
  .stream-block img,
  .channel-block img,
  .video-block img,
  .broadcast-block img {
    height: auto;
  }
}

.stream-block .stream-image,
.channel-block .channel-image,
.video-block .video-image,
.broadcast-block .broadcast-image {
  width: 100%;
    padding-top: 56.25%; /* defines aspect ratio */
    position: relative;
    overflow: hidden;
}

.video-image {
  position: relative;
  height: 156px;
  overflow: hidden;
}

.video-image a img {
  position: absolute;
  overflow: hidden;
  clip: rect(28px,320px,190px,0px);
  top: -28px;
  bottom: -28px;
}

.inner {
  margin-bottom: 20px;
}

@media all and (max-width: 400px) {
  .stream-block img {
    width: calc(100vw - 75px);
  }
}

#pagination {

}

#pagination_previous {
  float: left;
}

#pagination_next {
  float: right;
}

.mui-dropdown-menu {
  overflow: auto;
  max-height: 90vh;
}

.autocomplete-suggestions {
  border: 1px solid rgba(0, 0, 0, 0.87);
  background: #111;
  cursor: default;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.autocomplete-selected {
  background: rgba(0, 0, 0, 0.87);
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #673AB7;
}