
#filter_form .name {
	margin-right: 10px;
	font-size: 1.3em;
	font-weight: 700;
}

#filter_form .input-field {
	margin-right: 10px;
	font-size: 1.2em;
}

#filter_form .mui-select {
	font-size: 1.3em;
}

.input-field label {
	font-weight: normal;
}

.broadcast-game-search {
  width: 150px;
  padding-top:0;
  float: left;
}

.hide-options {
	width: 0;
	display: none;
    visibility: none;
}

.options {
    opacity: 100;
    transition: opacity .4s, visibilty .4s;
}

#games-search-input.broadcast-search-on   {
    width: 250px;
    opacity: 1;
    margin-left: 10px;
}

.filter_block {
	min-width: 100px;
	height: 75px;
	/*background: #000;*/
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}