
.filter_block {
  min-width: 100px;
  height: 75px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.filter_block .name {
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  padding-bottom: .1em;
  margin-top: .3em;
  border-bottom: 2px solid #111;
}

#filter_form .input-field {
  font-size: 1.2em;
}

#filter_form .mui-select {
  font-size: 1.3em;
}

.input-field label {
  font-weight: normal;
}

.input-field input,
.input-field select,
.input-field option {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}

// Placeholder colors, do not group
::-webkit-input-placeholder {
   color: #333;
}

::-moz-placeholder {
   color: #333;
}

:-ms-input-placeholder {
   color: #333;
}

.hide-options {
  width: 0;
  display: none;
  visibility: none;
}

.options {
  opacity: 100;
  transition: opacity .4s, visibilty .4s;
}

.meta {
  margin-top: 5px;
  font-size: .7em;
  font-weight: normal;
}

// SELECTORS
.radio_button {
  padding: 10px;
  float: left;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.filter_block input[type="radio"] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

input[type="radio"]:checked + span {
  background: #6441A5;
}

#games-search {
  float: left;
}

// Hackalis (Blasted Jesus Edition)
.games-search-input {
  width: 0;
  opacity: 0;
  transition: all .4s;
}

#games-search > form > div {
  padding-top: 9px;
}

.games-search-input.games-search-on   {
  width: 250px;
  opacity: 1;
  margin-left: 10px;
}
