footer {
  margin-bottom: 43vh;
  background: #010101;
  padding: 1em;
}

footer ul {
  list-style: none;
  padding: 0;
}

#footer_blocks {
  display: flex;
  flex-direction: row wrap;
  flex: 1 100%;
  justify-content: space-around;
}

#footer_blocks img {
  width: 4em;
}

/* Medium screens */
@media all and (max-width: 800px) {
  #footer_blocks {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 600px) {
  #footer_blocks {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#disclaimer {
  padding: 1em;
  font-style: italic;
}