.noUi-connect {
	background-color: #673AB7;
}

.noUi-handle {
  background-color: #120C28;
  -webkit-box-shadow: 0 0 .3em 0 rgba(49,30,102, 0.75);
  -moz-box-shadow:    0 0 .3em 0 rgba(49,30,102, 0.75);
  box-shadow:         0 0 .3em 0 rgba(49,30,102, 0.75);

  -webkit-box-shadow: 0 0 .3em 0 rgba(49,30,102, 1.25);
  -moz-box-shadow:    0 0 .3em 0 rgba(49,30,102, 1.25);
  box-shadow:         0 0 .3em 0 rgba(49,30,102, 1.25);
  border: none;

  cursor: pointer;
}

.noUi-background {
  background-color: #010101;
  box-shadow: none;
  border: none;
}

.noUi-handle::before, .noUi-handle::after {
  background-color: #311E66;
  height: 1.4em;
}

.noUi-base {
  height: 1.4em;
}

.noUi-horizontal .noUi-handle {
  height: 2.2em;
}

.noUi-target {
  height: 1.4em;
}

.noUi-origin {
  height: 1.4em;
}

.name {
  width: 100%;
}

#range {
  padding-top: 1em;
}

#viewers {
  width: 13em;
  margin-left: 1.6em;
  margin-right: 1.6em;
}

#viewers .meta {
  float: right;
}