.noUi-connect {
	background-color: #673AB7;
}

.noUi-handle {
  background-color: #120C28;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(49,30,102, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(49,30,102, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(49,30,102, 0.75);

  -webkit-box-shadow: 0px 0px 5px 0px rgba(49,30,102, 1.25);
  -moz-box-shadow:    0px 0px 5px 0px rgba(49,30,102, 1.25);
  box-shadow:         0px 0px 5px 0px rgba(49,30,102, 0.75);
  border: none;

  cursor: pointer;
}

.noUi-background {
  background-color: #010101;
  box-shadow: none;
  border: none;
}

.noUi-handle::before, .noUi-handle::after {
  background-color: #311E66;
  height: 25px;
}

.noUi-base {
  height: 27px;
}

.noUi-horizontal .noUi-handle {
  height: 37px;
}

.noUi-target {
  height: 27px;
}

.noUi-origin {
  height: 27px;
}