#preview {
  height: calc(18.75vw + 30px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  min-height: 25vh;
  max-height: 50vh;
  margin-bottom: 3em;
}

.preview_off {
  display: none;
}

.preview {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .3em;
  cursor: pointer;
  visibility: none;
  opacity: 0;
  transition: opacity .4s, visibilty .4s;
}

#preview_video_meta {
  float: left;
  display: block;
}

#preview_video_meta .views, #preview_video_meta .length  {
  font-size: 18px;
  padding-right: .3em;
}

#preview_bar {
  height: 3em;
  max-height: 3em;
}

#preview_media {
  background: #000;
  height: 100%;
}

#preview_video {
  float: left;
  width: 33.33%;
  min-width: 33.33%;
  display: block;
  height: 100%;
}

#preview_chat {
  float: left;
  width: 33.33%;
  height: 100%;
  display: block;
}

#preview_chat iframe, #preview_video iframe, #preview_chat img, #preview_video img  {
  width: 100%;
}

#preview_chat iframe, #preview_chat img, #preview_video iframe {
  height: 100%;
}

#preview_meta {
  float: left;
  height: 100%;
  width: 0;
  background-size: cover;
  background-position: center;
}

#preview_game_background {
  background: rgba(0,0,0,.9);
  padding: .6em;
  width: 100%;
  height: 100%;
}

#preview_title {
  float: left;
  font-size: 1.2em;
  line-height: 1.1em;
  margin: .6em;
  padding: 0;
  max-height: 3em;
  white-space: nowrap;
  overflow: hidden;
}

#preview_title a {
  color: #fff;
}

#preview_close {
  position: absolute;
  right: 0;
  background: transparent;
  padding-right: .3em;
}

#preview_meta_button_container {
  float: right;
  padding-left: .3em;
  padding-bottom: .3em;
}

.preview_logged_in {
  display: none;
}

.preview_metric_block {
  padding: .3em;
  margin-right: .6em;
  margin-bottom: .9em;
  display: inline-block;
}

#preview_channel_name {
  margin: 0 -.3em 0 0;
}

#preview_game {
  font-size: 1.2em;
}

#preview_channel_name {
  padding: .1em .3em .1em .3em;
  font-size: 32px;
}

#preview_game {
  padding: .1em .3em .1em .3em;
}

#preview_twitch_icon {
  width: 24px;
  float: left;
  margin-right: .5em;
}

#preview_metrics {
  margin-top: 2em;
}

@media all and (max-width: 675px) {
  #preview {
    height: calc(56.25vw + 30px);
  }

  #preview_video {
    width: 100%;
  }

  #preview_video iframe {
    width: 100%;
  }

  #preview_meta {
    display: none;
  }

  #preview_chat {
    display: none;
  }

  .preview {
    opacity: 1;
    visibility: visible;
  }
}

/*33/66/0*/
@media all and (min-width: 675px) and (max-width: 1050px) {
  #preview {
    height: calc(28.125vw + 30px);
  }

  #preview_video {
    width: 50%;
    display: block;
  }

  #preview_chat {
    width: 50%;
    display: block;
  }

  #preview_meta {
    width: 0;
    display: none;
  }

  .preview {
    opacity: 1;
    visibility: visible;
  }
}

/*33/33/33*/
@media all and (min-width: 1050px) {
  #preview_video {
    width: 33.33%;
    display: block;
  }

  #preview_chat {
    width: 33.33%;
    display: block;
  }

  #preview_meta {
    width: 33.33%;
    display: block;
  }
}
