#filter_meta {
  color: rgba(white, .3);

  span {
    border-bottom: 1px rgba(white, .3) dotted;
  }
}

#filter_box {
  margin-top: .6em;
  background: #000;
}

#filter_options {
  // padding: .6em;
  .mui-tab-pane {
    min-height: 8.5em;
  }
}

#filter_tabs {
  ul li {
    padding: .3em;
  }

  ul li a {
    padding: .3em;
    font-size: 1em;
    font-weight: 500;
  }
}

.options {
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding: .6em;
  }

  ul li.active {
    background: #101010;
  }

  ul li a {
    cursor: pointer;
  }
}

i {
  vertical-align: text-top;
}

#images_404 {
  margin: 0 auto;
  max-width: 768px;

  img {
    width: 100%;
    color: #FFF;

    &:first-of-type {
      margin-bottom: 5em;
    }
  }
}

