.stream-block, .channel-block, .broadcast-block  {
  margin-bottom: 10px;
  /*height: 300px;*/

  h4 {
    font-size: 1.3em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: mui-color('white');
    }
  }

  img {
    width: 100%;
    position: absolute;
  }

  &:hover .preview {
    opacity: 1;
    visibility: visible;
  }
}

.stream-block .stream_meta,
.channel-block .channel-meta,
.video-block .video-meta,
.broadcast-block .broadcast-meta  {
  height: 6.5em;
}

@media screen and (max-width: 993px) {
  .stream-block,
  .channel-block,
  .video-block,
  .broadcast-block {
    img {
      height: auto;
    }
  }
}

.stream-image,
.channel-image,
.video-image,
.broadcast-image {
  width: 100%;
  padding-bottom: 56.25%; /* defines aspect ratio */
  position: relative;
  overflow: hidden;
}

.video-image a img {
  margin-top: -9.5%;
}

.inner {
  margin-bottom: 20px;
}

@media all and (max-width: 400px) {
  .stream-block img {
    width: calc(100vw - 75px);
  }
}