.noUi-connect {
	background-color: #673AB7;
}

.noUi-handle {
  background-color: #120C28;
  box-shadow: 0 0 .3em 0 rgba(49,30,102, 0.75);
  border: none;

  cursor: pointer;
}

.noUi-background {
  background-color: #010101;
  box-shadow: none;
  border: none;
}

.noUi-handle::before, .noUi-handle::after {
  background-color: #311E66;
  height: 1.4em;
}

.noUi-base {
  height: 1.4em;
}

.noUi-horizontal .noUi-handle {
  height: 2.2em;
}

.noUi-target {
  height: 1.4em;
}

.noUi-origin {
  height: 1.4em;
}

#viewers, #views, #followers {
  min-width: 12em;
  margin-left: 1.6em;
  margin-right: 1.6em;
  margin-top: .7em;

  .meta {
    float: right;
  }
}