
@import "bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$mui-primary-color:                     #6441A5;
$mui-primary-color-dark:                mui-color('deep-purple', '700');
$mui-primary-color-light:               mui-color('deep-purple', '100');

$mui-accent-color:                      mui-color('indigo', '500');
$mui-accent-color-dark:                 mui-color('indigo', '700');
$mui-accent-color-light:                mui-color('indigo', '100');

$mui-hr-color:                          mui-color('white-alpha-12');
$mui-divider-color:                     mui-color('white-alpha-12');

$mui-body-bg-color:                     mui-color('black-alpha-87');

$mui-base-font-family:                  Roboto, Helvetica, Calibri, Arial, sans;
$mui-base-font-color:                   mui-color('grey', '400');
$mui-base-font-size:                    16px;

$mui-panel-bg-color:                    mui-color('black-alpha-87');

$mui-input-placeholder-color:           mui-color('white-alpha-12');

$mui-dropdown-bg-color:                 mui-color('black-alpha-87');
$mui-dropdown-link-font-color-disabled: mui-color('grey', '200');
$mui-dropdown-link-bg-color-hover:      mui-color('deep-purple', 'A700');
$mui-dropdown-link-bg-color-active:     mui-color('deep-purple', 'A700');

$mui-btn-default-bg-color:              mui-color('black-alpha-87');


@import "bower_components/mui/src/sass/mui";