  <div class="mui-container">
    <div class="mui-panel">
      <h1>Terms of Use</h1>
      <div>
        <p>You agree that when using this site that all content is copyright of their original copyright. You do not gain rights over any content on the site.</p>

        <p>This site is not affiliated with or sponsored by Twitch. Twitch owns the rights to stream and video images, video player, and chat.</p>
      </div>
    </div>
  </div>